.header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  padding-inline: 3rem;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  padding-inline: 3rem;
}

.section-about {
  padding-inline: 3rem;
}

.section-products {
  padding-inline: 3rem;
}

.section-contacts {
  padding-inline: 3rem;
}

.button-primary {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button-secondary {
  background-color: gray;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.card1 {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.card2 {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.card3 {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

/* ------------------ */
/* Bendri header ir footer */
.header,
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  padding-inline: 3rem;
}

/* Sekcijos */
.section {
  padding-inline: 3rem;
}

/* Mygtukai */
.button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.button-primary {
  background-color: blue;
}

.button-secondary {
  background-color: gray;
}

/* Kortelės */
.card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}